@media only screen and (max-width: 600px) {
    .top-genres__container {
        grid-template-columns: 1fr;
    }
    .playlist {
        &__container {
            grid-template-columns: 1fr 1fr;
        }
        &__item:hover {
            &__btn-play-all {
                display: none;
            }
        }
        &__song {
            &-info {
                flex: 1;
            }
            &-option, &-time {
                display: none;
            }
        }
    }
    .header {
        width: 100%;
        justify-content: space-around;
        &__btn {
            display: none;
        }
        &__nav-item:nth-child(2) {
            display: none;
        }
    }
    .app {
        &__user {
            &-name {
                margin-top: 0;
            }
            &-img {
                width: 120px;
                height: 120px;
            }
        }
        &__sidebar {
            display: none;
        }
        &__player.playing .player__container-song {
            transform: none;
        }
    }
    .content {
        padding-top: 250px;
        &__container {
            margin: 0 24px;
        }
    }
    .player {
        &__container {
            padding: 0 16px;
            &-song {
                width: 50%;
            }   
        }
        &__control {
            background-color: $player-bg-color;
            z-index: 10;
            .progress-block, .btn-random, .btn-repeat {
                display: none;
            }
        }
        &__options {
            display: none;
        }
        &__song {
            &-thumb {
                width: 54px;
                height: 54px;
            }
            &-title {
                max-width: 9999px;
            }
        }
    }
}