@media only screen and (max-width: 600px) {
    .app__sidebar, .playlist__song-option, .playlist__song-time {
        display: none;
    }
    .content__container {
        margin: 0 16px;
    }
    .playlist__song-info {
        flex: 1;
    }
    .top-genres__container {
        grid-template-columns: 1fr;
    }
    .playlist__container {
        grid-template-columns: 1fr 1fr;
    }
    .playlist__item:hover {
        .playlist__btn-play-all {
            display: none;
        }
    }
    .header__btn {
        display: none;
    }
    .header {
        width: 100%;
        justify-content: space-around;
        &__nav-item:nth-child(2) {
            display: none;
        }
    }
    .app__user {
        &-name {
            margin-top: 0;
        }
        &-img {
            width: 120px;
            height: 120px;
        }
    }
    .content {
        padding-top: 250px;
    }
    .player {
        &__container {
            &-song {
                width: 60%;
            }   
        }
        &__control {
            .progress-block, .btn-random, .btn-repeat {
                display: none;
            }
        }
        &__options {
            display: none;
        }
    }
    .app__player.playing .player__container-song {
        transform: none;
    }
}