$black-darkest: #000000;
$black-darker: #121212;
$black-dark: #282828;
$text-white: #E8E8E8;
$text-gray-light: #B3B3B3; 
$white: #FFFFFF;
$player-bg-color: #181818;
$primary-color: #1ED760;

$header-search-radius: 20px;

$player-height: 90px;
$track-color: #ffffff1a;
