* {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  word-wrap: break-word;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #FFFFFF;
  background-color: #121212;
}

i {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
a:active {
  background-color: inherit;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.app {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 90px);
}

.btn--rounded {
  cursor: pointer;
  border-radius: 50%;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.input {
  overflow: visible;
}

.content {
  padding-top: 300px;
}

button {
  outline: none;
  border: none;
  width: 36px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 240px);
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 32px;
  z-index: 2;
}
.header__with-search {
  display: flex;
  align-items: center;
  gap: 0 25px;
  flex: 1;
  height: 100%;
}
.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 2.4rem;
  font-weight: 300;
  color: #B3B3B3;
  background-color: #000000;
}
.header__search {
  width: 100%;
  height: 40px;
  max-width: 365px;
  position: relative;
  border-radius: 20px;
  cursor: text;
}
.header__search-input {
  position: absolute;
  top: 0;
  left: 40px;
  width: calc(100% - 40px);
  padding: 0;
  height: 100%;
  font-size: 1.4rem;
  border: none;
  outline: none;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header__search-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  color: #000000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.header__search-icon {
  display: block;
  font-size: 2rem;
  margin: auto;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.header__nav-item {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.header__nav-btn {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
}
.header__nav-icon {
  display: block;
  font-size: 1.6rem;
}
.header__nav-user-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
  padding: 0 8px 0 0;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 23px;
  color: #E8E8E8;
  background-color: #000000;
  cursor: pointer;
}
.header__nav-user-btn img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.header__nav-user-btn:hover {
  background-color: #282828;
}

.sidebar__logo-img {
  height: 39px;
  margin: 24px 0 25px 24px;
}
.sidebar__nav {
  margin-left: 24px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #B3B3B3;
}
.sidebar__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__nav-item i {
  margin-right: 16px;
  font-size: 2rem;
}
.sidebar__nav-item:hover {
  color: #E8E8E8;
}
.sidebar__item-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 0 5px;
}
.sidebar__item-link div {
  width: 32px;
}

.app__container {
  position: relative;
  flex: 1;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden overlay;
  height: 100%;
  width: calc(100vw - 240px);
  scroll-behavior: smooth;
}
.app__container::-webkit-scrollbar {
  width: 4px;
}
.app__container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
.app__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #B3B3B3;
}
.app__container::-webkit-scrollbar-thumb:hover {
  background: #B3B3B3;
}

.app__header {
  width: 100%;
  padding-top: 85px;
  position: relative;
}

.app__player {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  background-color: #181818;
}
.app__player.playing .icon-play {
  display: none;
}
.app__player.playing .icon-pause {
  display: block;
}
.app__player.playing .player__container-song {
  transform: translateX(30px);
}

.app__sidebar {
  width: 240px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #000000;
}

.content__container {
  margin: 0 48px 0 32px;
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(calc(100% + 10px));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOutFromTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}
.container__heading {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 32px 0;
  z-index: 3;
}

.playlist__section {
  max-height: 700px;
  height: 420px;
  overflow: hidden overlay;
  scroll-behavior: smooth;
}
.playlist__section::-webkit-scrollbar {
  width: 4px;
  height: 36px;
  display: none;
}
.playlist__section:hover::-webkit-scrollbar {
  display: block;
}
.playlist__section::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
.playlist__section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #B3B3B3;
  height: 50px;
}
.playlist__section::-webkit-scrollbar-thumb:hover {
  background: #B3B3B3;
}
.playlist__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}
.playlist__item {
  background-color: white;
  position: relative;
  height: 185px;
  overflow: hidden;
  border-radius: 8px;
  font-size: 24px;
}
.playlist__item:hover .playlist__btn-play-all {
  display: flex;
  opacity: 1;
  animation: slideInFromBottom ease-in-out 0.3s;
}
.playlist__heading {
  font-size: inherit;
  font-weight: 700;
  padding: 16px;
  margin: 0;
  max-width: 100%;
  letter-spacing: -1.06px;
  line-height: 31.2px;
}
.playlist__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(25deg) translate(18%, -2%);
  transform: rotate(25deg) translate(18%, -2%);
}
.playlist__btn-play-all {
  width: 54px;
  height: 54px;
  background-color: #1ED760;
  position: absolute;
  bottom: 16%;
  left: 8%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2.4rem;
  opacity: 0;
  animation: slideOutFromTop ease-in-out 0.1s;
}

.top-genres__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.top-genres__container .playlist__item {
  height: 220px;
  font-size: 40px;
}
.top-genres__container .playlist__img {
  width: 128px;
  height: 128px;
}

.player__container {
  display: flex;
  padding: 0 25px;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
.player__container-song {
  width: 30%;
  display: flex;
  transition: transform ease-in-out 0.5s;
}
.player__song-info {
  display: flex;
  align-items: center;
  flex-basis: auto;
  width: unset;
}
.player__song-left {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-basis: auto;
  margin-right: 16px;
}
.player__song-content {
  max-width: 190px;
  flex: 0;
  text-align: left;
  align-self: center;
}
.player__song-body {
  display: flex;
  overflow: hidden;
  flex: 1;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  justify-items: flex-start;
}
.player__song-title {
  font-size: 1.6rem;
  overflow: hidden;
  display: flex;
  position: relative;
  white-space: nowrap;
  height: 19px;
  line-height: 2rem;
  font-weight: 700;
}
.player__song-author {
  font-size: 1.1rem;
  color: #B3B3B3;
}
.player__song-thumb {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: relative;
}
.player__song-thumb .thumb-note {
  opacity: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  will-change: transform, opacity;
}
.player__song-thumb .thumb-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.player__title-animate {
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
}
.player__control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 73px;
  width: 40%;
}
.player__control-btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.player__control-btn .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  height: 45px;
  font-size: 1.6rem;
  padding: 3px;
  margin: 0 7px;
}
.player__control-btn .btn-toggle-play {
  min-width: 38px;
  height: 38px;
}
.player__control-btn .btn-random.active, .player__control-btn .btn-repeat.active {
  color: #1ED760;
}
.player__control .icon-pause {
  display: none;
}
.player__control .btn-toggle-play {
  background-color: white;
  border-radius: 50%;
}
.player__control .btn-toggle-play i {
  padding: 7px 9px;
  border-radius: 50%;
  border: 1px solid white;
  color: black;
}
.player__control .progress-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 18px;
  margin-bottom: 5px;
  position: relative;
}
.player__control .progress-block .duration-time,
.player__control .progress-block .tracktime {
  font-size: 1.1rem;
  width: 55px;
  margin: 0 5px;
  display: block;
  text-align: center;
  color: #B3B3B3;
}
.player__control .progress-block .progress {
  flex: 1;
  opacity: 1;
  height: 24px;
  z-index: 5;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  will-change: opacity;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.player__control .progress-block .progress:hover::-webkit-slider-thumb {
  background: white;
}
.player__control .progress-block .progress:hover ~ .progress__track {
  height: 5px;
}
.player__control .progress-block .progress:hover ~ .progress__track .progress__track-update {
  background-color: #1ED760;
}
.player__control .progress-block .progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: none;
  border-radius: 50%;
}
.player__control .progress-block .progress__track.song--track {
  width: calc(100% - 130px);
}
.player__control .progress-block .progress__track {
  position: absolute;
  height: 3px;
  transform: translate(-50%, 0);
  left: 50%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.player__control .progress-block .progress__track-update {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  background-color: white;
}
.player__options {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.player__options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.player__options-btn {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player__options-btn i {
  font-size: 1.4rem;
}
.player__options .player__volume-progress {
  width: 70px;
  height: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.player__options .volume__range {
  opacity: 1;
  z-index: 10;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: transparent;
  position: absolute;
}
.player__options .volume__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 50%;
}
.player__options .volume__range:hover::-webkit-slider-thumb {
  background: white;
}
.player__options .progress__track.volume--track {
  width: 100%;
}
.player__options .progress__track {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3px;
  background-color: white;
}

.title-item {
  min-width: 90px;
  padding-right: 20px;
}

.app__player.playing .thumb-note.note-1 {
  animation: circularMotion1 4.8s linear infinite;
  -webkit-animation: circularMotion1 4.8s linear infinite;
}

.app__player.playing .thumb-note.note-2 {
  animation: circularMotion2 4.8s 1.2s linear infinite;
  -webkit-animation: circularMotion2 4.8s 1.2s linear infinite;
}

.app__player.playing .thumb-note.note-3 {
  animation: circularMotion3 4.8s 2.4s linear infinite;
  -webkit-animation: circularMotion3 4.8s 2.4s linear infinite;
}

.app__player.playing .thumb-note.note-4 {
  animation: circularMotion4 4.8s 3.6s linear infinite;
  -webkit-animation: circularMotion4 4.8s 3.6s linear infinite;
}

@keyframes circularMotion1 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
  }
  100% {
    opacity: 0;
    transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
  }
}
@keyframes circularMotion2 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
  }
  50% {
    opacity: 1;
    transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3);
  }
  100% {
    opacity: 0;
    transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
  }
}
@keyframes circularMotion3 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3);
  }
  100% {
    opacity: 0;
    transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
  }
}
@keyframes circularMotion4 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
  }
  50% {
    opacity: 1;
    transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3);
  }
  100% {
    opacity: 0;
    transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
  }
}
.app__header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  filter: blur(50px);
}
.app__header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  width: 100%;
  height: 1000px;
  background-color: #170f23;
}
.app__header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 290px;
}
.app__header-user {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app__user-avatar {
  height: 208px;
  padding: 4px;
}
.app__user-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.app__user-name {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin: 15px 0 5px;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container__playmusic {
  width: 100%;
  margin-bottom: 25px;
}

.playlist__list {
  display: flex;
  font-weight: 500;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  position: relative;
}
.playlist__list-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 56px;
  width: 100%;
  padding: 2px 16px 2px 0;
  border-radius: 4px;
  transition: ease 0.3s;
  -webkit-tap-highlight-color: transparent;
}
.playlist__list-song:hover, .playlist__list-song.active {
  background-color: rgba(255, 255, 255, 0.1019607843);
  transition: transform ease-in-out 0.5s;
  transform: scale(1.01);
}
.playlist__list-song.active:hover .play-song--actions {
  display: none;
}
.playlist__list-song:hover .play-song--actions {
  display: block;
}
.playlist__list-song.active .playlist__song-title, .playlist__list-song.active .playlist__song-index {
  color: #1ED760;
}
.playlist__list.playing .active .thumb--animate {
  display: flex;
}
.playlist__song-index {
  font-size: 1.7rem;
  margin: 0 24px;
}
.playlist__song-info {
  width: 50%;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  flex-basis: auto;
  margin-right: 10px;
  align-items: center;
  justify-content: flex-start;
}
.playlist__song-thumb {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  position: relative;
  margin-right: 16px;
}
.playlist__song-thumb .thumb--animate {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.playlist__song-thumb .thumb--animate-img {
  width: 18px;
  height: 18px;
  margin: auto;
}
.playlist__song-thumb .play-song--actions {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
}
.playlist__song-thumb .play-song--actions .control-btn {
  height: 100%;
  min-width: unset;
}
.playlist__song-thumb .play-song--actions .control-btn i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist__song-body {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  max-width: 100%;
}
.playlist__song-title {
  max-width: 100%;
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.playlist__song-author {
  font-weight: 400;
  max-width: 100%;
  margin: 6px 0 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
  height: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #B3B3B3;
}
.playlist__song-time {
  flex: 1 1;
  color: #B3B3B3;
  font-size: 1.4rem;
  text-align: left;
  align-self: center;
}
.playlist__song-option {
  display: flex;
  flex-basis: auto;
  margin-left: 10px;
  justify-content: flex-end;
}
.playlist__song-btn {
  width: 32px;
  height: 32px;
  padding: 9px 10px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}
.playlist__song-btn:hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.playlist__song-btn i {
  font-size: 1.4rem;
  width: 13px;
  height: 13px;
  padding-top: 1px;
  text-align: center;
  display: inline-block;
}
.playlist__song-btn.active {
  color: #1ED760;
}

@media only screen and (max-width: 600px) {
  .top-genres__container {
    grid-template-columns: 1fr;
  }

  .playlist__container {
    grid-template-columns: 1fr 1fr;
  }
  .playlist__item:hover__btn-play-all {
    display: none;
  }
  .playlist__song-info {
    flex: 1;
  }
  .playlist__song-option, .playlist__song-time {
    display: none;
  }

  .header {
    width: 100%;
    justify-content: space-around;
  }
  .header__btn {
    display: none;
  }
  .header__nav-item:nth-child(2) {
    display: none;
  }

  .app__user-name {
    margin-top: 0;
  }
  .app__user-img {
    width: 120px;
    height: 120px;
  }
  .app__sidebar {
    display: none;
  }
  .app__player.playing .player__container-song {
    transform: none;
  }

  .content {
    padding-top: 250px;
  }
  .content__container {
    margin: 0 24px;
  }

  .player__container {
    padding: 0 16px;
  }
  .player__container-song {
    width: 50%;
  }
  .player__control {
    background-color: #181818;
    z-index: 10;
  }
  .player__control .progress-block, .player__control .btn-random, .player__control .btn-repeat {
    display: none;
  }
  .player__options {
    display: none;
  }
  .player__song-thumb {
    width: 54px;
    height: 54px;
  }
  .player__song-title {
    max-width: 9999px;
  }
}

/*# sourceMappingURL=app.css.map */
